absl-py==0.2.0
astor==0.6.2
beautifulsoup4==4.6.0
bleach==1.5.0
boto==2.48.0
boto3==1.7.14
botocore==1.10.14
bs4==0.0.1
bz2file==0.98
certifi==2018.4.16
chardet==3.0.4
cycler==0.10.0
docutils==0.14
et-xmlfile==1.0.1
gast==0.2.0
gensim==3.4.0
grpcio==1.11.0
html5lib==0.9999999
idna==2.6
jdcal==1.3
jieba==0.39
jmespath==0.9.3
joblib==0.11
kiwisolver==1.0.1
Markdown==2.6.11
matplotlib==2.2.2
nltk==3.3
numpy==1.14.2
openpyxl==2.5.1
pandas==0.22.0
protobuf==3.5.2.post1
pyparsing==2.2.0
python-dateutil==2.7.2
pytz==2018.4
requests==2.18.4
s3transfer==0.1.13
scikit-learn==0.19.1
scikit-surprise==1.0.5
scipy==1.0.1
six==1.11.0
skflow==0.1.0
sklearn==0.0
smart-open==1.5.7
surprise==0.1
tensorboard==1.8.0
tensorflow==2.5.0
termcolor==1.1.0
urllib3==1.22
Werkzeug==0.14.1
xgboost==0.71
xlrd==1.1.0
xlwt==1.3.0
